*{
    margin: 0;
    padding: 0;
}


.grid-container{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-row-gap: 15px;
}
.grid-container div{
    width: 250px;
    height: 300px;
    overflow: hidden;
}

.grid-container img{
    width: 250px;
}

.footer{
    background-color: #476A6F;
}
.footer ul{
    display: flex;
    list-style: none;
    width: 450px;
    margin: 0 auto;
    justify-content: center;
}